In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/chlio/Library/Python/3.11/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/chlio/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: /opt/homebrew/opt/python@3.11/bin/python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [81]:
income18 = pd.read_csv('ACSDP5Y2018.DP03-Data.csv')
income22 = pd.read_csv('ACSDP5Y2022.DP03-Data.csv')
housing18 = pd.read_csv('ACSDP5Y2018.DP04-Data.csv')
housing22 = pd.read_csv('ACSDP5Y2022.DP04-Data.csv')
merge18 = pd.read_csv('merge18.csv')
merge22 = pd.read_csv('merge22.csv')

In [82]:
income18 = income18[['NAME', 'DP03_0062E', 'DP03_0119PE']].copy()
income18 = income18[income18['NAME'] == 'Alameda County, California']
income18 = income18.rename(columns={'DP03_0062E': 'median_income_2018', 'DP03_0119PE': 'poverty_pct_2018'})
income18['County'] = 'Alameda'
income18

                         NAME median_income_2018 poverty_pct_2018   County
1  Alameda County, California              92574              6.8  Alameda

In [83]:
income22 = income22[['NAME', 'DP03_0062E', 'DP03_0119PE']].copy()
income22 = income22[income22['NAME'] == 'Alameda County, California']
income22 = income22.rename(columns={'DP03_0062E': 'median_income_2022', 'DP03_0119PE': 'poverty_pct_2022'})
income22['County'] = 'Alameda'
income22

                         NAME median_income_2022 poverty_pct_2022   County
1  Alameda County, California             122488              5.5  Alameda

In [84]:
housing18 = housing18[['NAME', 'DP04_0136E', 'DP04_0101E']].copy()
housing18 = housing18[housing18['NAME'] == 'Alameda County, California']
housing18 = housing18.rename(columns={'DP04_0136E': 'median_rent_2018', 'DP04_0101E': 'median_owner_cost_2018' })
housing18['County'] = 'Alameda'
housing18

                         NAME median_rent_2018 median_owner_cost_2018   County
1  Alameda County, California           256342                   2806  Alameda

In [85]:
housing22 = housing22[['NAME', 'DP04_0136E', 'DP04_0101E']].copy()
housing22 = housing22[housing22['NAME'] == 'Alameda County, California']
housing22 = housing22.rename(columns={'DP04_0136E': 'median_rent_2022', 'DP04_0101E': 'median_owner_cost_2022' })
housing22['County'] = 'Alameda'
housing22

                         NAME median_rent_2022 median_owner_cost_2022   County
1  Alameda County, California           256991                   3547  Alameda

In [86]:
# Merge into the final dataset
merge18 = merge18.merge(housing18[['County', 'median_rent_2018', 'median_owner_cost_2018']], on='County', how='left')
merge22 = merge22.merge(housing22[['County', 'median_rent_2022', 'median_owner_cost_2022']], on='County', how='left')

In [87]:
merge18 = merge18.merge(income18[['County', 'median_income_2018', 'poverty_pct_2018']], on='County', how='left')
merge22 = merge22.merge(income22[['County', 'median_income_2022', 'poverty_pct_2022']], on='County', how='left')

In [88]:
merge18.to_csv('merge18.csv', index=False)
merge22.to_csv('merge22.csv', index=False)